/vc140.idb
/vc140.pdb
build/
external/
imgui.ini
.vs/oya/
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/preferences.txt
/.vs/CopilotSnapshots/E07310B4D853D64CAFB8479C0381D6D0/23D864DD8F670849B598E26FA2BC80B5/281BF104BA395747A7CF8F0760989BD0
