/vc140.idb
/vc140.pdb
build/
external/
imgui.ini
.vs/oya/
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/preferences.txt
/.vs/CopilotSnapshots/
shaders/compiled/
enc_temp_folder/
/resources/renderdoc/
/resources/font_layouts/
/resources/textures/font.png
.vs/slnx.sqlite-journal
/shaders/compiled/
/resources/textures/font.bmp
